/*      */

body {
	background-color: #30343F;
	font-size:medium;
	color:#FAFAFF;
	min-block-size: 100%;
	min-inline-size: 100%;
	margin: 0;
	box-sizing: border-box;
	display: grid;
	font-family: system-ui, sans-serif;
	place-content: left;
}


#titleTxt {
	top: 10%;
	left: 13%;
	margin: auto;
	position: fixed;
	font-size: 10rem;
	padding: 2rem;
}

#cont {
	align-items: center;
	text-align: center;
	width: 500px; white-space: normal;
}

#navbar {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
}

#navbar ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #333;
}

#navbar li {
	float: left;
	display: inline;
}

#navbar li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	position: relative;
}


#navbar li a:hover { 
	background-color: cornflowerblue;
	border-radius: 25px;
	text-shadow: 1px 0 #FAFAFF;
}

#logo {
	position: fixed;
	top: 0;
	right: 0;
	width: 50px;
	border-radius: 25px;
	border-color: #0c1116;
}

/* */

#planetList {
	position: fixed;
	top: 20%;
	left: 5%;
	width: auto;
}

#planetList ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	width: 100px;
	background-color: #333;
}

#planetList ul li {
	float: left;
	display: inline;
	background-color: #343d46;
	border-radius: 25px;
	border-color: black;
	margin-bottom: 10px;
}

#planetList ul li a {
	text-align: center;
	width: 60px;
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	position: relative;
}



#planetList ul li:target { 
	background-color: #7494EA;
	border-radius: 25px;
}



#planetList ul li a:hover { 
	background-color: cornflowerblue;
	border-radius: 25px;
	text-shadow: 1px 0 #FAFAFF;
}

/* */

.verticalLine {
	border-left: thick solid #7494EA;
	height: 550px;
	position: absolute;
	top: 19%;
	left: 12%;
	width: auto;
  }

#IMG {
	position: fixed;
	left: 20%;
	opacity: 100%;
	width:  1000px;
	height: 1000px;
	object-fit: contain;
	transition: opacity 0.5s ease;
	opacity: 0;
}

#infoContainer {
	overflow:hidden;
	background: #7494EA;
}
