/*      */
:root {
	--planetCol: cornflowerblue;
}

body {
	background-color: #30343F;
	font-size:medium;
	color:#FAFAFF;
	min-block-size: 100%;
	min-inline-size: 100%;
	margin: 0;
	box-sizing: border-box;
	display: grid;
	font-family: system-ui, sans-serif;
	place-content: left;
}

/* */

#titleTxt {
	top: 10%;
	left: 13%;
	margin: auto;
	position: fixed;
	font-size: 10rem;
	padding: 2rem;
}

#cont {
	align-items: center;
	text-align: center;
	width: 500px; white-space: normal;
}

#navbar {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
}

#navbar ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #333;
}

#navbar li {
	float: left;
	display: inline;
}

#navbar li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	position: relative;
}


#navbar li a:hover { 
	background-color: cornflowerblue;
	border-radius: 25px;
	text-shadow: 1px 0 #FAFAFF;
}

#logo {
	position: fixed;
	top: 0;
	right: 0;
	width: 50px;
	border-radius: 25px;
	border-color: #0c1116;
}

/* */

#planetList {
	position: fixed;
	top: 20%;
	left: 5%;
	width: auto;
}

#planetList ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	width: 100px;
	background-color: #333;
}

#planetList ul li {
	float: left;
	display: inline;
	background-color: #343d46;
	border-radius: 25px;
	border-color: black;
	margin-bottom: 10px;
}

#planetList ul li a {
	text-align: center;
	width: 60px;
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	position: relative;
}



#planetList ul li:target { 
	background-color: var(--planetCol);
	border-radius: 25px;
}



#planetList ul li a:hover { 
	background-color: cornflowerblue;
	border-radius: 25px;
	text-shadow: 1px 0 #FAFAFF;
}

/* */

.verticalLine {
	border-left: thick solid #7494EA;
	height: 550px;
	position: absolute;
	top: 19%;
	left: 12%;
	width: auto;
  }

#IMG {
	position: relative;
	top: 50%;
	opacity: 100%;
	width:  1000px;
	height: 1000px;
	object-fit: contain;
	transition: opacity 0.5s ease;
	opacity: 0;
	z-index: -3;
	translate: 13%;
}

#infoContainer {
	position: static;
	left: 75%;
}

/* #facts {
	position: fixed;
	top: 15%;
	right: 5%;
	width: 20rem; 
	white-space: normal;
	background-color: #7494EA;
	border-radius: 50px;
	padding: 2rem;
	font-size: large;
	border-color: aqua;
 } */

#facts {
	top: 20%;
	right: 5%;
}

/* */

.card {
	margin: 0 auto;
	padding: 1em;
	position: relative;
	background: #343d46;
	text-align: center;
	border-radius: 10px;
	width: 15em;
	height: 10em;
}

@property --angle {
	syntax: "<angle>";
	initial-value: 0deg;
	inherits: false;
}

.card::after , .card::before{
--angle: 0rad;
content: "";
position: absolute;
width: 100%;
height: 100%;
background-image: conic-gradient(from var(--angle), transparent 70%, var(--planetCol));
top: 50%;
left: 50%;
translate: -50% -50%;
z-index: -1;
padding: 3px;
border-radius: 10px;
animation: 3s spin linear infinite;
}

.card::before {
filter: blur(1.5rem);
opacity: 0.5;
}

@keyframes spin {
	from {
		--angle: 0deg;
	}
	to {
		--angle:  360deg;
	}
}
